html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.top {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
}

.image_left{
    margin-left: 2%;
    margin-right: 2%;
}

.image_right{
    margin-right: 2%;
    margin-left: 2%;
}